<template name="Home">
  <div align="center">
    <h3>Welcome to</h3>
    <h1> StudentHub Dashboard </h1><br/>
  </div>
  <br/><hr>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-plus"></i> Add</h3>
        <p>Add Student Entries</p>
        
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-edit"></i> Update</h3>
        <p>Update Student Entries</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-trash"></i> Delete</h3>
        <p>
          Delete Student Entries
        </p>
    </div>
  </div>
  <div class="col-sm-12">
    <div align="center">
      <br/><br/><br/>
      <hr>
      Questions - please email <a href="mailto:arun@zechariah.net">arun@zechariah.net</a>
    </div>
  </div>
</template>
